/* BASIC  */

@import url("./basic/helpers.css"); 
@import url("./basic/font.css"); 

/* APSUS */

@import url("./pages/appsus-home-page.cmp.css"); 
@import url("./cmps/user-msg.cmp.css"); 

/* MAIL */

@import url("./apps/mail/pages/mails-app.cmp.css"); 
@import url("./apps/mail/pages/mails-details.cmp.css"); 
@import url("./apps/mail/cmps/email-compose.cmp.css"); 
@import url("./apps/mail/cmps/email-list.cmp.css"); 
@import url("./apps/mail/cmps/email-preview.cmp.css"); 
@import url("./apps/mail/cmps/mail-compose.cmp.css"); 
@import url("./apps/mail/cmps/pass-down-preview.cmp.css"); 
@import url("./apps/mail/cmps/choosen-option.cmp.css"); 
@import url("./apps/mail/cmps/email-status.cmp.css"); 

/* NOTES */

@import url("./apps/notes/pages/notes-app.cmp.css"); 
@import url("./apps/notes/cmps/notes-list.cmp.css"); 
@import url("./apps/notes/cmps/note-preview.cmp.css"); 
@import url("./apps/notes/cmps/notes-add.cmp.css"); 
@import url("./apps/notes/cmps/note-todos.cmp.css"); 
@import url("./apps/notes/cmps/note-edit.cmp.css"); 
@import url("./apps/notes/pages/notes-media.css"); 

/* HEADER */
@import url("./cmps/app-header.cmp.css"); 
@import url("./cmps/app-filter.cmp.css");
@import url("./cmps/app-menu.cmp.css");


* {
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    margin: 0;
    user-select: none;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img, video, audio {
    max-width: 100%;
    height: auto;
    outline: none;
}

button{
    outline: none;
    
}

a {
    color: unset;
    text-decoration: none;
    outline: none
}

.router-link-active {
    text-decoration: none;
}