
/* .red {
    color: red;
}

.green {
    color: green;
}

.black {
    color: black;
} */

.common-width {
    width: 1400px;
}

.router-link-active {
    text-decoration: underline;
    font-weight: bold;
}

.padding-left {
    padding-left: 50px;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.flex.center{
    align-items: center;
    justify-content: center;
}

.column{
    flex-direction: column;
}

.center-self{
    align-self: center;
    justify-self: center;
}