/* HOME  */

@import url("../../home/css/appsus-home-page.cmp.css"); 
@import url("./helpers.css"); 
@import url("./font.css"); 

/* APSUS */

@import url("../../home/css/appsus-home-page.cmp.css"); 

/* mail */

@import url("../../mail/css/pages/mails-app.cmp.css"); 
@import url("../../mail/css/cmps/email-compose.cmp.css"); 
@import url("../../mail/css/cmps/email-list.cmp.css"); 
@import url("../../mail/css/cmps/email-preview.cmp.css"); 

/* NOTES */

@import url("../../keeps/css/pages/notes-app.cmp.css"); 
@import url("../../keeps/css/cmps/note-preview.cmp.css"); 
@import url("../../keeps/css/cmps/notes-list.cmp.css"); 




* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img, video, audio {
    max-width: 100%;
    height: auto;
}

/* HEADER */

.app-header{
    /* width: 100%; */
    background-color: rgb(189, 189, 189);
    height: 10vh;
}