/* HOME  */

@import url("../../home/css/appsus-home-page.cmp.css"); 
@import url("./helpers.css"); 
@import url("./font.css"); 

/* APSUS */

@import url("../../home/css/appsus-home-page.cmp.css"); 



* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}
