.mail-page {
    height: 90vh;
    /* width: 100%; */
    /* padding: 0 10px; */
    /* justify-content: center; */
}

.mail-main-container {
    height: 85vh;
    background-color: #E4E7EB;
    padding: 15px;
    gap: 15px;
}

.mail-massage-container {
    flex-basis: 80%;
    background-color: #cbd2d9;
    overflow: auto;
    position: relative;
}

.mail-options-container {
    flex-basis: 20%;
    background-color: #9aa5b1;
    padding: 20px 0;
    position: relative;
}

.choosen-option-container {
    width: 100%;
}

.options-container-app {
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .mail-main-container {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .mail-main-container {
        flex-direction: column;
    }
    .mail-massage-container {
        flex-basis: 100%;
    }
    .choosen-option-container {
        flex-direction: row;
        margin: 0;
    }
    .mail-options-container {
        flex-direction: column;
        padding: 0;
    }
    .options-container-app {
        flex-direction: row;
    }
}
