.mail-details-page{
    height: 90vh;
    width: 90%;
    padding: 0 10px;
    justify-content: center;
    margin: 0 auto;
}

.mail-details-container{
    height: 85vh;
    background-color: #E4E7EB;
    padding: 30px;
    gap: 15px;
    border-radius: 7px;
}

.mail-details-content-container{
    background-color: #f5f7fa;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    padding: 20px;
    position: relative;
}

.header-content{
    font-size: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(214, 213, 213);
}

.from-details-content{
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(214, 213, 213);
}

.from-details-content h1{
    margin-right: 20px;
}

.main-body-content{
    font-size: 1em;
}

.from-details-content p{
    color: rgb(170, 170, 170);
}

.mail-details-options{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    border-top: 1px solid rgb(214, 213, 213);
    padding-right: 80px;
}

.mail-details-options a{
    font-size: 1.6rem;
    cursor: pointer;
}

.ddelete-mail-btn-details{
    bottom: 20px;
}

.details-content-container{
    height: 60%;
    width: 100%;
}

.note-content{
    margin: 20px;
    height: 60%;
    width: 100%;
}

.note-content img{
    width: 40%;
}