/* FONTS */

/* 
@font-face {
    font-family: logo-font;
    src: url(../fonts/logo-font/MoongladeDemoBold-jOzM.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
} */