/* FONTS */

@font-face {
    font-family: poppins;
    src: url(../../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: azonix;
    src: url(../../fonts/azonix/Azonix-1VB0.otf);
} 