.app-filter {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.app-filter input {
    outline: none;
    height: 25px;

}

.app-filter select {
    outline: none;
    height: 25px;
}

.search-btn:hover {
    color: white;
    cursor: pointer;
}

