.app-filter {
    width: 500px;
    display: flex;
    align-items: flex-start;
    align-self: center;
    margin: 0 auto;
} 

.app-filter input {
    outline: none;
    height: 25px;

}

.app-filter select {
    outline: none;
    height: 25px;
}

.search-btn:hover {
    color: white;
    cursor: pointer;
}

.search-btn {
    padding-left: 5px;
}

.search-bar select:hover {
    cursor: pointer;
}