.app-menu {
    position: absolute;
    background-color: #9AA5B1;
    left: -185px;
    top: 30px;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.app-menu>* {
    font-size: 30px;
    padding: 15px;
    color: #e9e9e9;
}

.app-menu>* :hover {
    color: white;
}

.menu-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(90, 90, 90, 0.288);
}
