/* HEADER */

.app-header {
    background-color: #52606D;
    height: 10vh;
    color: #F5F7FA;
}

.menu-btn {
    position: relative;
}

.logo-title {
    font-size: 1.6rem;
    font-family: azonix, sans-serif;
    text-decoration: none;   
}


.burger {
    font-size: 1.8rem;
    color: #e9e9e9;
}

.burger:hover {
    color: white;
    cursor: pointer;
}


@media(max-width: 1500px) {
    .header-container {
        width: 90%;
    }
}

@media(max-width: 700px) {
    .app-header {
        height: 15vh;
    }
    .header-container {
        flex-direction: column;
        position: relative;
    }
    .logo-container {
        margin-top: 20px;
    }
    .app-filter {
        padding: 10px;
        margin-left: 0;
    }
    .menu-btn {
        position: absolute;
        right: 5%;
        top: 35px;
    }
    .search-btn {
        color: transparent;
    }
}