.user-msg {
  position: fixed;
  padding: 10px;
  background-color: #F5F7FA;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}


.error {
  border: 3px solid #ff9292;
  color: #ff9494;;
}

.success {
  border: 3px solid rgb(140, 207, 140);
  color: rgb(140, 207, 140);;
}

.user-msg h4 {
  margin-right: 5px;
}

.user-msg button {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
 
.user-msg button:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
}

.msg-enter,
.msg-leave-to {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.msg-enter-active,
.msg-leave-active {
  transition: all 0.4s;
}