/* The snackbar - position it at the bottom and in the middle of the screen */
.user-msg {
  position: absolute;
  width: 300px;
  height: 100px;
  background-color: aliceblue;
  bottom: 20px;
  right: 20px;
}
 
