.note-preview {
    break-inside: avoid;
    border: 1px outset gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: azure;
    margin-bottom: 10px;
}


.colors-container {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 275px;
    height: 40px;
    bottom: -30px;
    z-index: 1;
}


.color-option {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: transform .3s;
    z-index: 1;
    /* position: absolute; */
}

.color-option:hover {
    border: 0.1px outset black;
    background-color: aqua;
    cursor: pointer;
    transform: scale(1.2);
}


.edit-color-btn:hover .colors-container {
    display: flex;
}

.note-edit-btns {
    position: relative;
}

.pinned {
    border: 2px outset black;
}