.note-preview {
    break-inside: avoid;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    background-color: azure;
    margin-bottom: 10px;
    position: relative;
}

.note-preview:hover .note-edit-btns {
    opacity: 1;
}


.colors-container {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 275px;
    height: 40px;
    bottom: -35px;
    left: -160px;
    z-index: 1;
}


.color-option {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: transform .3s;
    z-index: 1;
    border: 0.1px solid gray;
}

.color-option:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.edit-color-btn:hover .colors-container {
    display: flex;
}

.note-edit-btns {
    position: relative;
    opacity: 0;
    align-self: flex-end;
}

.note-edit-btns > * {
    padding: 5px;
    color: rgb(172, 172, 172);
    font-size: 1.4rem;
}

.note-edit-btns > *:hover {
    color: rgb(110, 110, 110);
    cursor: pointer;
}

.pinned {
    border: 1px outset gray;
}

.cat-icon {
    color: rgb(110, 110, 110);
    position: absolute;
    bottom: 10px;
    left: 10px;
}