.email-preview{
    /* height: 20px; */
    background-color: rgba(255, 255, 255, 0.329);
    border-bottom: 1px solid rgb(204, 204, 204);
    display: flex;
    padding: 10px;
    width: 100%;
    /* border-radius: 7px; */
    position: relative;
    /* height: 60px; */
}

.email-preview:hover{
    cursor: pointer;
}

.mail-prev-from{
    font-size: 1.2rem;
    flex-basis: 20%;
}

.mail-prev-content{
    display: flex;
    flex-basis: 70%;
}

.mail-prev-date{
    font-size: 0.9rem;
    flex-basis: 10%;
}

.mail-prev-subject{
    font-size: 0.9rem;
    margin-right: 10px;
}

.mail-prev-body{
    font-size: 0.8rem;
    color: rgb(146, 145, 145);
}

.read{
    background-color: #f5f7fa;
}

.fav-star{
    font-size: 30px;
    margin-right: 10px;
}

.favorite{
    color: rgb(255, 210, 8);
}