.compose-btn{
    border-radius: 50px;
    height: 40px;
    width: 150px;
    border: none;
    background-color: #f5f7fa;
    margin-bottom: 20px;
}

.compose-btn:hover{
    cursor: pointer;
    background-color: white;
}