.email-status{
    color: #f5f7fa;
    margin-top: 30px;
    background-color: #788794;
    width: 80%;
    height: 37px;
    border-radius: 20px;
    font-size: 0.9rem;
    position: relative;
    margin-bottom: 20px;
}

.email-status h1{
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
}

.status-content-container{
    z-index: 1;
    height: 80%;
    width: 95%;
    justify-self: flex-start;
    border-radius: 20px;
}

.status-line{
    background-color: #3e4c59;
    height: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 1000px){
    .email-status{
        width: 40%;
        margin: 20px;
    }
}