.pass-down-prev-conteainer{
    background-color: white;
    padding: 10px;
    height: 150px;
    border-bottom: 1px solid rgb(204, 204, 204);
    overflow: auto;

}

.pass-down-prev-header-content{
    font-size: 30px;
    margin-bottom: 10px;
}

.from-pass-down-prev-content{
    width: 100%;
    margin-bottom: 10px;
}

.from-pass-down-prev-content h1{
    margin-right: 20px;
}

.from-pass-down-prev-content p{
    color: rgb(170, 170, 170);
}
/* 
.pass-down-prev-options{

} */

.pass-down-prev-options a{
    font-size: 1.6rem;
    margin-left: 15px;
    border: none;
    cursor: pointer;
}

.pass-down-prev-body-content{
    overflow: auto;
}
